* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    height: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    border: 3px solid rgb(0, 140, 255);
    transition: all 3000ms ease;
}
::-webkit-scrollbar-thumb:hover {
    border: 4px solid rgb(0, 140, 255);
    background-color: rgba(0, 140, 255, 0.5);
    transition: all 3000ms ease;
}

.container {
    display: grid;
    overflow: hidden;
    height: 100dvh;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1.5fr;
    background: url(images/wallpaper.jpg);
    background-position: center;
}

.addBook {
    position: fixed;
    z-index: 1;
    top: 2rem;
    left: 3rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: skyblue;
    border: solid 2px rgba(0, 0, 255, 0.39);
    box-shadow: 0 0 1rem 2px rgb(20, 19, 68);
    transition: all 100ms ease;
}
.addBook:hover {
    top: 1.9rem;
    border: solid 2px orange;
    box-shadow: 0 0 1rem 2px rgb(255, 255, 255);
}
.addBook:focus {
    background-color: white;
}
.addBookImg {
    width: 40px;
}

.addBookDiv {
    color: white;
    position: fixed;
    border: 4px solid orange;
    outline: solid white 2px;
    background: linear-gradient(to bottom, rgba(1, 9, 36, 0.87),rgba(11, 79, 105));
    backdrop-filter: blur(1rem);
    border-radius: 0.5rem;
    top: 2.7rem;
    left: 6.5rem;
    z-index: 1;
    width: 0px;
    height: 0px;
    font-size: 5px;
    overflow: hidden;
    visibility: hidden;
    transition: all 200ms linear;
}
.addBookDivHover{
    visibility: visible;
    font-size: medium;
    width: 400px;
    height: 200px;
    padding: 20px;
    transition: all 400ms ease;
}
.bookInfo {
    margin-bottom: 1rem;
}
.bookInfo2 {
    display: flex;
    gap: 5px;
}

input {
    font-weight: bolder;
    height: 2rem;
    margin: 5px;
    border: none;
    padding-left: 10px;
    border-radius: 3px;
}

.button {
    background-color: lightgreen;
    border: none;
    margin-top: 5px;
    padding: 3px 5px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: auto;
}

.div1 {
    background-color: rgba(230, 230, 230, 0.9);
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    padding: 30px 200px;
    height: 340px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.placeholderBookCard {
    position: absolute;
    top: 41px;
    left: 800px;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    width: 12rem;
    height: 20rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    border: solid rgba(235, 144, 8, 0.521);
    transition: all 800ms ease;
    opacity: 0;
}
.placeholderBookCardActive {
    visibility: visible;
    position: absolute;
    top: 41px;
    left: 650px;
    z-index: 1;
    opacity: 1;
}
.bookCard {
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 20rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    border: solid rgba(0, 0, 255, 0.39);
    transition: all 200ms ease;
    position: relative;
}
.div1 > .bookCard:not(:last-child):hover {
    width: 15rem;
    height: 21rem;
    margin: 0 80px;
}
.div1 > .bookCard:last-child:hover {
    margin-left: 50px;
}

.delete {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 8px;
    transition: all 200ms ease;
    height: 30px;
}
.deleteBTN {
    margin-top: 2px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid;
    background-color: black;
}
.deleteBTN:hover {
    width: 27px;
    height: 27px;
    background-color: rgb(100, 100, 100);
}
.deleteBTN img {
    width: 20px;
    transition: all 200ms ease;
}
.deleteBTN img:hover{
    width: 18px;
}

.readBTNContainer {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    padding: 3px 6px;
    border-radius: 8px;
    border: none;
}
.readBTNContainer h6 {
    margin: 0px;
    margin: 0px;
    color: tomato;
}
.readSlider {
    display: flex;
    border: 2px solid rgb(0, 140, 255);
    background-color: black;
    border-radius: 10px;
    width: 20px;
    height: 10px;
    margin-right: auto;
}
.readTrackBall {
    background-color: whitesmoke;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.card2 {
    right: 50px;
}
.card3 {
    right: 100px;
}
.card4 {
    right: 150px;
}
.card5 {
    right: 200px;
}
.card6 {
    right: 250px;
}

.section1 {
    flex: 3;
    border-radius: inherit;
    background-size: 200px;
}
.section2 {
    flex: 2;
    border-radius: inherit;
    background-color: mintcream;
    overflow: hidden;
}

h5 {
    margin: 10px;
    font-weight: 500;
}

.name {
    font-weight: 750;
}

.div2 {
    background: paleturquoise;
    height: 100%;
    transition: all 1000ms ease;
}

.dim {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}
.dim2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.bookTittle {
    flex: 1;
    z-index: 1;
    font-size: 5rem;
    margin-left: 8rem;
    color: white;
    font-weight: bolder;
}

.bookSummary {
    flex: 2;
}